name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  contributors:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: akhilmhdh/contributors-readme-action@v2.3.11
        with:
          image_size: 48
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
